@tailwind base;
@tailwind components;
@tailwind utilities;

.p-menubar {
    background-color: unset !important;
    border: unset !important;
    color: #fff !important;
}

.p-menubar-root-list {
    @apply p-4;
}

.p-menuitem {
    @apply px-4 py-2 w-max;
}

.p-menubar-button {
    color: white !important;
}
